USE_DUMMY_MODEL=false
MODEL_PATH=./models/fitness_model.h5
LABEL_ENCODER_PATH=./models/label_encoder.joblib
DATABASE_URL=postgresql://postgres:1234@localhost:5432/pose_db
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Per-exercise models directory
EXERCISES_MODELS_DIR=./models/aiModel
# USE_DUMMY_MODEL=false
